.review-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    gap: 50px;
    background: var(--red-bg);
}

.carousel .control-arrow {
    margin: 0 270px;
}