.hero {
    background-image: url("../../assets/Hero\ Section.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 800px;
}

.header {
    display: flex;
    flex-direction: row;

}

.header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    position: absolute;
    width: 537px;
    height: 131px;
    left: 100px;
    top: 300px;
}

.header-content h1 {
    font-family: var(--font-family-main) !important;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 41px;
    letter-spacing: -0.04em;
    color: var(--color-yellow);

}

.header-content p {
    font-family: var(--font-family-sub);
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    margin-top: 1.5rem;
    color: var(--color-white);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 25px;
    position: absolute;
    width: 600px;
    height: 75px;
    left: 470px;
    top: 663px;
    background: var(--color-white);
    border-radius: 10px;
    color: var(--color-blue);
    font-family: var(--font-family-reg);
}

.search-input-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.search-input input,
.search-input select {
    border: none;
    outline: none;
    width: 100px;
    background-color: var(--color-white);
}

.search-input label {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
    /* identical to box height */
    letter-spacing: 0.02em;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background: var(--yellow-btn);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.divider {
    width: 2px;
    height: 20px;
    background-color: #ccc;
    margin: 0 10px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


@media screen and (max-width: 650px) {
    .header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .header-content p {
        font-size: 16px;
        line-height: 24px;
    }

}

@media screen and (max-width: 490px) {
    .header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .header-content p {
        font-size: 14px;
        line-height: 24px;
    }

}