.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: var(--red-bg);
    padding: 50px 100px;
    overflow: hidden;

}

.feature-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 75px;
    padding: 50px;
    overflow-x: hidden;


}

.feature-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 2px;
}

.feature-heading h1 {
    font-family: var(--font-family-sub);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: var(--color-white);
}

.feature-heading p {
    font-family: var(--font-family-reg);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-white);
}



.feature {
    position: relative;
    /* Add other styles for the feature container as needed */
}

.feature .feature-card {
    /* Add styles for the carousel container */
    position: relative;
    padding-bottom: 50px;
    /* Add desired padding at the bottom */
    overflow-x: hidden;
    /* Remove scroll */
}

.feature .feature-card .carousel .control-dots {
    /* Add styles for the carousel dots container */
    /* position: absolute;
    bottom: 10px; */
    /* left: 0; */
    /* right: 0; */
    
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 100px;
    padding: 0;
}

.feature .feature-card .carousel .control-dots .dot {
    /* Add styles for the carousel dots */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    margin: 0 5px;
    cursor: pointer;
}

.feature .feature-card .carousel .control-dots .dot.active {
    /* Add styles for the active carousel dot */
    background-color: yellow;
}