.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.review-content img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-family: var(--font-family-reg);
}

.review-profile h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-yellow);
}

.review-profile h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-white);
}

.review-content p {
    font-family: var(--font-family-reg);
    width: 530px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: justify;
    color: var(--color-white);
}