.place {
    position: relative;
}
.place img{
    width: 266px;
}
.place-heading {
    position: absolute;
    left: 85px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--color-white);
}

/* .place-more{
    font-family: var(--font-family-reg);
    color: var(--color-white);
    position: absolute;
    left: 85px;
    top:200px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

} */