.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 3.1rem;
    z-index: -1;
    /* color: var(--color-blue); */
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo {
    position: relative;
    margin-right: 2rem;
    display: flex !important;
}

.navbar-logo h1 {
    padding-right: 2rem;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
}

.navbar-search input {
    align-items: center;
    padding: 5px 15px;
    gap: 20px;
    width: 210px;
    height: 29.5px;
    background: rgba(144, 144, 144, 0.5);
    border-radius: 57px;
    outline: none;
    border: none;
    /* color: var(--color-white); */
}

.navbar-search input:focus {
    background-color: transparent;
    border-bottom: 1px solid red;
    border-radius: 2px;
}

.search-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    /* color: #FFFCFC; */
    cursor: pointer;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
    padding-right: 8rem;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links_container p,
.navbar-menu_container p {
    /* color: #fff; */
    font-family: var(--font-family-reg);
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-sign button,
.navbar-menu_container button {
    padding: 0.32rem .6rem;
    /* color: #fff; */
    background: var(--yellow-btn);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: var(--font-family-reg);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--blue-bg);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1120px) {
    .navbar-links_container {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: .6rem 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-sign {
        display: none;
    }

    .navbar-menu_container {
        top: 20px;
    }

    .navbar-search input {
        width: 150px;
    }

    .navbar-menu_container-links-sign {
        display: block;
    }
}